.quest-box {
  padding: 32px;
  margin-top: 100px;
}
.list {
  list-style-type: none;
  padding-left: 0;
  background-color: #079cff;
  padding: 16px !important;
  margin-bottom: 16px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.btn-primary {
  color: #fff !important;
  font-size: 24px;
}
